IDI_ICON1 ICON "Icon/canlendar.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,0,3,0
    PRODUCTVERSION 0,0,3,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904B0"
            BEGIN
                VALUE "CompanyName", "灵动计算机社\0"
                VALUE "FileDescription", "高考倒计时\0"
                VALUE "FileVersion", "0.0.3.0\0"
                VALUE "LegalCopyright", "Copyright (C) 2015 灵动计算机社 The MIT License\0"
                VALUE "OriginalFilename", "CountDown.exe\0"
                VALUE "ProductName", "高考倒计时\0"
                VALUE "ProductVersion", "0.0.3.0\0"
				VALUE "InternalName", "CountDown.exe\0"
            END
        END
		
		BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END
